{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
    {% if app.user %}
        <a class="action_button" href="{{ path('app_article_new') }}">Créer un nouvel article</a>
    {% endif %}

    {% for article in articles %}
        <section class="b">
            <h5 id="article.title" class="card-title">{{ article.title }}</h5>
            <div class="card" style="width: 18rem;">

                <div class="card-body">

                    <p id="article.content" class="card-text">{{ article.descripton }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
#{% if article.author %}
#<p class="article_author">
#Auteur:
#{{ article.author.name }}
#{{ article.author.firstname }}
                #</p>
            {% endif %}
            <div class="action_button_container">
                <a class="action_button" href="{{ path('app_article_show', {'id': article.id}) }}">Voir</a>
            </div>
        </section>
    {% endfor %}


    <main>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBWJVRlTbADYa8HXiIadxSCdzxKnUQH6yWWQ&usqp=CAU" class="rounded float-start" alt="">
        <p class="rounded float-start">e Lorem Ipsum est simplement du faux texte employé dans
            la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte
            standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla
            ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique
            informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années
            1</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz1ekCLZZK3mrrqzKaWYqnxlAHfragj24Tzw&usqp=CAU" class="rounded float-start" alt="">
        <p class="rounded float-start">e Lorem Ipsum est simplement du faux texte employé dans la composition
            et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie
            depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour
            réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais
            s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été
            popularisé dans les années 1</p>
    </main>
{% endblock %}
